.image_list {
  max-height: 380px;
  overflow-y: auto;
  overflow-x: hidden;
}
.preview_image {
  cursor: pointer;
  position: relative;
  height: 352px;
}
.zoom_in_icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.over_preview_image {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}
.preview_image:hover .over_preview_image {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 11;
}
.right_content {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  padding: 0;
}
